<h3>{{title}}</h3>

<div class="hori">
    <button mat-raised-button color="primary" (click)="BtnClick(1)">
        <mat-icon>exposure_plus_1</mat-icon>
    </button>
    <button mat-raised-button color="primary"(click)="BtnClick(2)">
        <mat-icon>exposure_plus_2</mat-icon>
    </button>
    <button mat-raised-button color="accent"(click)="BtnClick(-1)">
        <mat-icon>exposure_neg_1</mat-icon>
    </button>
    <button mat-raised-button color="accent"(click)="BtnClick(-2)">
        <mat-icon>exposure_neg_2</mat-icon>
    </button>
</div>